<!-- <style>
  nav{
    
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
   
  }
</style>
<nav class="navbar navbar-expand-lg">
  
  <div class="container-fluid "> <a class="navbar-brand text-light" href="#">Navbar</a> <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"> <a class="nav-link active text-light" aria-current="page" href="#">Home</a> </li>
    
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link text-light" routerLink="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/register">Register</a></li>
      </ul>
      
    </div>
  </div>
</nav> -->
<router-outlet></router-outlet>


