<section class="form my-4 mx-5">
  <div class="container">
      <div class="row no-gutters">
          <div class="col-lg-5 wall">
              <img src="/assets/img/lg_wall.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-lg-7 px-5 pt-5">
              <h1 class="font-weight-bold py-3">Speridian Technologies</h1>
              <h4>Forget Password ?</h4>
              <form>
                  <div class="form-group col-md-6 pt-5">
                      <input type="email" class="form-control" id="Email-Address" placeholder="Email-Address">
                  </div>
                  <div class="form-row">
                      <div class="col-md-6">
                          <button class="btn1 mt-3 mb-2" type="button">Send Email</button>
                      </div>
                  </div>
                  <p class="mt-2"><a routerLink="/login">Back to login</a></p>
                  
              </form>
          </div>
      </div>
  </div>
</section>