<section class="form my-4 mx-5">

    <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-5 wall">

              <img src="/assets/img/lg_wall.jpg" alt="" class="img-fluid">

            </div>

            <div class="col-lg-7 px-5 pt-5">

                <h1 class="font-weight-bold py-3">Welcome !!</h1>

                <h4>You are logged in Successfully</h4>

                <form >

                   

                </form>

  </div></div></div></section>